<h1>
	Redux-Quiz
</h1>
<h4>
	Answers are going to be written below.
</h4>
<ul> <b>src</b> – Complete source code of the application resides in the src folder.
</ul>
<ul> <b>app</b> – root component of the application.
</ul>
<ul> <b>assets</b> – contains all the images or resources used in the application.
</ul>
<ul> <b>environments</b> – contains build configuration environments of the application. We can create any target environment
	and specify its configuration here.
</ul>
<ul> <b>index.html</b> – This is the main HTML page that is rendered when someone opens your website or application.
</ul>
<ul> <b>main.ts</b> – This is the main entry point of the angular application which compiles the AppModule and renders the
	specified bootstrap component in the browser.
</ul>
<ul> <b>styles.css</b> – Contains all the styles to be used globally in the application.</ul>
<ul> <b>angular.json</b> – This file is mainly used for specifying the configuration of CLI. It includes configuration of
	build, serves, tests, lint, e2e commands which are used by @angular-cli.
</ul>
<ul> <b>package.json</b> – Specifies all the project dependencies.
</ul>
<ul> <b>tsconfig.json</b> – defines the configuration of TypeScript in the project.
</ul>