
<!-- ATTENTION STUDENTS: I USED CODE FROM WE3SCHOOL LINK: https://www.w3schools.com/bootstrap4/default.asp -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><div><a routerLink="/"><b>Home</b></a></div></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><div><a routerLink="biography"><b>Biography</b></a></div></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><div><a routerLink="resume"><b>Resume</b></a></div></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><div><a routerLink="social-media"><b>Social Media</b></a></div></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><div><a routerLink="redux-quiz"><b>Redux Quiz</b></a></div></a>
    </li>
  </ul>
</nav>

<div class="background">
  


<router-outlet></router-outlet>