<div class="container" style="text-align:center;color:white;">

	<h1>Social Media</h1>
	<p>You can find me here by clicking the links below.</p>

</div>
<div class="Email">
	<a target="_blank" href="mailto:Johnathanibarra33@gmail.com">
		<img src="https://cdn4.iconfinder.com/data/icons/free-colorful-icons/360/gmail.png" alt="Cinque Terre" width="250" height="275">
  </a>
</div>
<div class="LinkedIn">
	<a target="_blank" href="https://www.linkedin.com/in/johnathan-ibarra-0a25aa193/">
		<img src="https://image.flaticon.com/icons/png/512/174/174857.png" alt="Cinque Terre" width="250" height="275">
  </a>
</div>
<div class="Stackblitz">
	<a target="_blank" href="https://stackblitz.com/@JohnathanJoemama">
		<img src="https://pbs.twimg.com/profile_images/1055142255722344448/xhqy_EUP_400x400.jpg" alt="Cinque Terre" width="250" height="275">
  </a>
</div>

<div class="Github">
	<a target="_blank" href="https://github.com/JohnathanJoemama">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png" alt="Cinque Terre" width="250" height="275">
  </a>
</div>